<div class="row">
    <div class="col-12">
        <form>
            <div class="form-row">
                <div class="col-md-12 form-group mb-2">
                    <label class="d-block">Informe:</label>
                    <span>{{ resolucion.informe }}</span>
                </div>
                <div class="col-md-12 form-group mb-2">
                    <label class="d-block">Resolucion:</label>
                    <span>{{ resolucion.resolucion }}</span>
                </div>
                <div class="col-md-12 form-group mb-2">
                    <label class="d-block">Informe Aprobado:</label>
                    <span>{{ resolucion.informeAprobado }}</span>
                </div>
                <div class="col-md-12 form-group mb-2">
                    <label class="d-block">Actos Administrativos:</label>
                    <span>{{ resolucion.actoAdministrativo }}</span>
                </div>
                <div class="col-md-12 form-group mb-2">
                    <label class="d-block">Resolucion Pdf:</label>
                    <span>{{ resolucion.resolucionPdf }}</span>
                </div>
                <div class="col-md-12 form-group mb-2">
                    <label class="d-block">Asunto:</label>
                    <span>{{ resolucion.asunto }}</span>
                </div>
            </div>
            <div class="form-row justify-content-end">
                <div class="form-group">
                    <button *ngIf="tipoOperacion !== 'detalle'" (click)="ejecutarAccion(tipoOperacion)" type="submit" class="btn btn-primary mr-1" [title]="botonOperacion">
                        {{botonOperacion}}
                    </button>
                    <button (click)="ejecutarAccion('cancelar')" type="submit" class="btn btn-dark" title="Cancelar">
                        Cancelar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
