<div class="row">
    <div class="col-12">
        <form [formGroup]="formDocumento" autocomplete="off" class="text-default">
            <div class="form-row">
                <div class="col-md-5 form-group mb-2">
                    <label><span class="required-field-indicator"></span> Correlativo:</label>
                    <div class="d-flex align-items-center">
                      <div class="input-group">
                        <input type="text" class="form-control" formControlName="correlativo"/>
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary" type="button" (click)="buscarCorrelativo()">
                            <i class="fas fa-search"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-md-3 form-group mb-2">
                    <label><span class="required-field-indicator"></span> Tipo Documento:</label>
                    <input type="text" class="form-control" formControlName="tipoDocumento" />
                </div>
                <div class="col-md-4 form-group mb-2">
                    <label><span class="required-field-indicator"></span> Documento PDF:</label>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" accept=".pdf" (change)="onFileSelected($event)" id="fileInput">
                      <label class="custom-file-label" for="fileInput">{{ nombreArchivoSeleccionado }}</label>
                    </div>
                </div>
                <div class="col-md-12 form-group mb-2">
                    <label><span class="required-field-indicator"></span> Referencia:</label>
                    <textarea class="form-control" formControlName="referencia"></textarea>
                </div>
                <div *ngIf=" formDocumento.get('tipoDocumento').value=== 'Informe Social'" class="col-md-4 form-group mb-2">
                    <label><span class="required-field-indicator"></span> Nro de Sujetos Identificados:</label>
                    <input type="number" class="form-control" formControlName="nroSujetos"/>
                </div>
            </div>
            <div class="form-row">
                <ng-container *ngFor="let i of generateRange(formDocumento.get('nroSujetos').value); let index = index">
                  <div *ngIf=" formDocumento.get('tipoDocumento').value=== 'Informe Social'" class="col-md-4 form-group mb-2">
                    <label><span class="required-field-indicator"></span> Comunidad {{ index + 1 }}:</label>
                    <input type="text" class="form-control" [formControlName]="'comunidad' + (index + 1)" />
                  </div>
                  <div *ngIf=" formDocumento.get('tipoDocumento').value=== 'Informe Social'" class="col-md-4 form-group mb-2">
                    <label><span class="required-field-indicator"></span> Autoridad {{ index + 1 }}:</label>
                    <input type="text" class="form-control" [formControlName]="'autoridad' + (index + 1)" />
                  </div>
                  <div *ngIf=" formDocumento.get('tipoDocumento').value=== 'Informe Social'" class="col-md-4 form-group mb-2">
                    <label><span class="required-field-indicator"></span> Telefono {{ index + 1 }}:</label>
                    <input type="text" class="form-control" [formControlName]="'telefono' + (index + 1)" />
                  </div>
                </ng-container>
              </div>
            <div class="form-row justify-content-end">
                <div class="form-group">
                    <button (click)="ejecutarAccion(tipoOperacion)" type="submit" class="btn btn-primary mr-1"
                        [title]="botonOperacion">
                        {{botonOperacion}}
                    </button>
                    <button (click)="ejecutarAccion('cancelar')" type="button" class="btn btn-dark" title="Cancelar">
                        Cancelar
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <em class="small"><i class="fas fa-info-circle"></i> Los campos obligatorios están marcados con
                        <span class="required-field-indicator"></span></em>
                </div>
            </div>
        </form>
    </div>
</div>
