<div class="row">
    <div class="col-12">
        <form>
            <div class="form-row">
                <div class="col-md-12 form-group mb-2">
                    <label class="d-block">Notificado:</label>
                    <span>{{ notificacion.notificado }}</span>
                </div>
                <div class="col-md-12 form-group mb-2">
                    <label class="d-block">Direccion Departamental:</label>
                    <span>{{ notificacion.direccionDpto }}</span>
                </div>
                <div class="col-md-12 form-group mb-2">
                    <label class="d-block">Notificacion Pdf:</label>
                    <span>{{ notificacion.notificacionPdf }}</span>
                </div>
            </div>
            <div class="form-row justify-content-end">
                <div class="form-group">
                    <button *ngIf="tipoOperacion !== 'detalle'" (click)="ejecutarAccion(tipoOperacion)" type="submit" class="btn btn-primary mr-1" [title]="botonOperacion">
                        {{botonOperacion}}
                    </button>
                    <button (click)="ejecutarAccion('cancelar')" type="submit" class="btn btn-dark" title="Cancelar">
                        Cancelar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
