<div class="row">
    <div class="col-12">
        <form>
            <div class="form-row">
                <div class="col-md-12 form-group mb-2">
                    <label class="d-block">Correlativo:</label>
                    <span>{{ documento.correlativo }}</span>
                </div>
                <div class="col-md-12 form-group mb-2">
                    <label class="d-block">Referencia:</label>
                    <span>{{ documento.referencia }}</span>
                </div>
                <div class="col-md-12 form-group mb-2">
                    <label class="d-block">Asunto:</label>
                    <span>{{ documento.tipoDocumento }}</span>
                </div>
            </div>
            <div class="form-row justify-content-end">
                <div class="form-group">
                    <button *ngIf="tipoOperacion !== 'detalle'" (click)="ejecutarAccion(tipoOperacion)" type="submit" class="btn btn-primary mr-1" [title]="botonOperacion">
                        {{botonOperacion}}
                    </button>
                    <button (click)="ejecutarAccion('cancelar')" type="submit" class="btn btn-dark" title="Cancelar">
                        Cancelar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
