{
  "modulos": [
    {
      "autenticacion": {
        "api": {
          "url": "",
          "grupos": ["SCA", "PERSONAL", "CORRESPONDENCIA"],
          "apiKey": "API_KEY_PARA_REGISTRO_DE_CUENTAS"
        }
      }
    },
    {
      "correspondencia": {
        "api": {
          "url": ""
        }
      }
    }
  ]
}
