<style type="text/css">
    /*************************************************/
    table {
        border-collapse: collapse;
        width: 1126px;
    }
    
    table,
    th, td {
        border: 1px solid black;
    }
    
    th, td {
        padding: 10px;
    }
</style>

<div class="page-service">
    <div id="capture" class="card card-outline card-primary">
        <div class="card-header" style="width:1185px;">
            <div id="div1" style="float:left; width:23.3%;">
                <img class="img-fluid" src="assets/images/logo_AJAM.png" alt="logo" width="200" height="200">
            </div>
            <div id="div2" style="float:left; width:53.3%; text-align: center; font-family: 'Times New Roman', Times, serif; align-items: center; justify-content: center;">
                <br>
                <br>
                <h1><b>PROFORMA DE PAGO</b></h1>
                <h5>Fecha y hora de generación: Jueves, 20 Julio 2023 12:27</h5>
                <br>
            </div>
            <div id="div3" style="float:left; width:23.3%; text-align: right;">
                <img class="img-fluid" src="assets/images/ajam_logo.jpg" alt="logo" width="160" height="160">
            </div>
        </div>
        <div class="card-body" style="width:1250px;">
                <p class="login-box-msg"></p>
                <form autocomplete="off">
                    
                    <table>
                        <tr style="text-align: center;">
                            <td style="background-color: #F3BB18; font-size:50px; font-family: 'Times New Roman', Times, serif; color:#fffffb;"><b>CPT: 7056-6419-1632</b></td>
                        </tr>
                    </table>

                    <br>

                    <table style="font-family: 'Times New Roman', Times, serif">
                        <tr style="font-size:22px;">
                            <td colspan="2" style="background-color: #F3BB18; color:#fffffb;"><b>DATOS DEL SOLICITANTE</b></td>
                        </tr>
                        <tr style="font-size:18px;">
                            <td style="width: 300px; background-color: #F7E09E;"><b>TELF/CEL:</b></td>
                            <td style="background-color: #eef3eb;">72516451</td>
                        </tr>
                        <tr style="font-size:18px;">
                            <td style="width: 300px; background-color: #F7E09E;"><b>REPRESENTANTE:</b></td>
                            <td style="background-color: #eef3eb;">COOPERATIVA MINERA "TOJRA" R.L.</td>
                        </tr>
                        <tr style="font-size:18px;">
                            <td style="width: 300px; background-color: F7E09E;"><b>CLASIFICACION:</b></td>
                            <td style="background-color: #eef3eb;">COOPERATIVA</td>
                        </tr>
                    </table>

                    <br>

                    <table style="font-family: 'Times New Roman', Times, serif">
                        <tr style="font-size:22px;">
                            <td colspan="2" style="background-color: #F3BB18; color:#fffffb;"><b>CÁLCULO DE LA DEUDA</b></td>
                        </tr>
                        <tr style="font-size:18px;">
                            <td style="width: 300px; background-color: F7E09E;"><b>CONCEPTO:</b></td>
                            <td style="background-color: #eef3eb;">CONSULTA PREVIA</td>
                        </tr>
                        <tr style="font-size:18px;">
                            <td style="width: 300px; background-color: #F7E09E;"><b>MONTO A PAGAR:</b></td>
                            <td style="background-color: #eef3eb;">Bs. 155.00.- CIENTO CINCUETA Y CINCO  00/100.- BOLIVIANOS</td>
                        </tr>
                    </table>

                    <br>

                    <table style="font-family: 'Times New Roman', Times, serif">
                        <tr style="font-size:22px;">
                            <td colspan="5" style="background-color: #F3BB18; color:#fffffb;"><b>DETALLE DE CÁLCULO DE LIQUIDACIÓN DE VIATICOS Y PASAJES</b></td>
                        </tr>
                        <tr style="font-size:18px;">
                            <td style="width: 630px; text-align: center; background-color: #F7E09E;"><b>Servicios:</b></td>
                            <td style="width: 138px; text-align: center; background-color: #F7E09E;"><b>Nro. Dia (s)</b></td>
                            <td style="width: 138px; text-align: center; background-color: #F7E09E;"><b>Tipo de Viaje</b></td>
                            <td style="width: 138px; text-align: center; background-color: #F7E09E;"><b>Monto por Dia</b></td>
                            <td style="width: 138px; text-align: center; background-color: #F7E09E;"><b>Total Viaticos</b></td>
                        </tr>
                        <tr style="font-size:18px;">
                            <td style="width: 630px; background-color: #eef3eb;">Viatico para 
                                la identificación de sujetos de consulta previa, dentro del trámite: 
                                AJAMD-LP-SOL-CAM/154/2018 del área denominada TOJRA RL, compuesta por 8 cuadrículas, 
                                ubicada en el municipio(s) CAJUATA, Provincia(s) INQUISIVI, departamento(s) LA PAZ. 
                            </td>
                            <td style="width: 138px; text-align: center; background-color: #eef3eb;">0.7</td>
                            <td style="width: 138px; text-align: center; background-color: #eef3eb;">Intradepartamental</td>
                            <td style="width: 138px; text-align: center; background-color: #eef3eb;">222</td>
                            <td style="width: 138px; text-align: center; background-color: #eef3eb;">155</td>
                        </tr>
                    </table>

                    <br>

                    <table style="font-family: 'Times New Roman', Times, serif">
                        <tr style="font-size:22px;">
                            <td colspan="2" style="background-color: #F3BB18; color:#fffffb;"><b>NOTAS</b></td>
                        </tr>
                        <tr style="font-size:18px;">
                            <td style="background-color: #eef3eb;">1. El pago podrá realizarse a través de cualquier <b>SUCURSAL O AGENCIA DEL BANCO UNION, UNINET Y UNIMOVIL</b> inidicando solamente el CPT que se muestra en la cabecera de la presente proforma</td>
                        </tr>
                        <tr style="font-size:18px;">
                            <td style="background-color: #eef3eb;">2. La presente Proforma de Pago tiene una validez de 30 dias calendario <b>(Hasta el 30/11/2022)</b> a partir de su fecha de generación. Posterior a esta fecha, se deberá generar una nueva Proforma de Pago.</td>
                        </tr>
                        <tr style="font-size:18px;">
                            <td style="background-color: #eef3eb;">3. El presente documento no se constituye en un instrumento válido para fines legales. El saldo adeudado está sujeto a actualización, validación y confirmación por parte de la Autoridad Jurisdiccional Administrativa Minera AJAM.</td>
                        </tr>
                        <tr style="font-size:18px;">
                            <td style="background-color: #eef3eb;">4. La impresión de la presente Proforma de Pago es opcional, para el pago ewn ewl Banco solo necesita el CPT que se muestra en la cabecera de la presente proforma.</td>
                        </tr>
                    </table>

                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    
                    <div style="font-family: 'Times New Roman', Times, serif; font-size:18px;">
                        <b>Datos del Solicitante:</b> WILMER  MEJIA PIZA
                    </div>
                    <div style="font-family: 'Times New Roman', Times, serif; font-size:18px;">
                        <b>Nro Documento Identidad:</b> 3473894 LP
                    </div>
                    <div style="font-family: 'Times New Roman', Times, serif; font-size:18px;">
                        <b>Código de Seguridad:</b> 10037773221031113715
                    </div>
                </form>
                <div class="mt-3">
                    <p class="mb-0">
                    </p>
                </div>
            </div>
        </div>

        <input type="button" class="btn btn-danger" value="Convert" (click)="convertToPDF()" />
</div>

