<div class="row">
    <div class="col-12">
        <form [formGroup]="formReunion" autocomplete="off" class="text-default">
            <div class="form-row">
                <div class="col-md-2 form-group mb-2">
                    <label><span class="required-field-indicator"></span> Nro Reunion:</label>
                    <input type="text" class="form-control" formControlName="nroReunion" [readonly]="true"/>
                </div>
                <div class="col-md-10 form-group mb-2">
                    <label><span class="required-field-indicator"></span> Motivo:</label>
                    <ng-select  
                                [items]="formReunion.get('conAcuerdo').value === true ? conAcuerdoV: formReunion.get('sinAcuerdo').value === true ? sinAcuerdoV :null"
                                bindLabel="name"
                                placeholder="Seleccione los Motivos"
                                appendTo="body"
                                [multiple]="true"
                                [(ngModel)]="selected"
                                formControlName="motivo">
                    </ng-select>
                </div>
                <div class="col-md-3 form-group mb-2">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="conAcuerdo" formControlName="conAcuerdo"  (change)="onCheckboxChange('conAcuerdo')">
                        <label class="custom-control-label" for="conAcuerdo"> Acuerdo:</label>
                        
                    </div>
                </div>
                <div class="col-md-3 form-group mb-2">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="sinAcuerdo" formControlName="sinAcuerdo"  (change)="onCheckboxChange('sinAcuerdo')">
                        <label class="custom-control-label" for="sinAcuerdo">Sin Acuerdo:</label>
                    </div>
                </div>
                <div *ngIf="false" class="col-md-3 form-group mb-2">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="reunionRealizada" formControlName="reunionRealizada">
                        <label class="custom-control-label" for="reunionRealizada">Reunion Realizada:</label>
                    </div>
                </div>
                <div class="col-md-6 form-group mb-2">
                    <label><span class="required-field-indicator"></span> Acta/Memoria PDF:</label>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" accept=".pdf" (change)="onFileSelected($event)" id="fileInput">
                      <label class="custom-file-label" for="fileInput">{{ nombreArchivoSeleccionado }}</label>
                    </div>
                </div>
            </div>
            <div class="form-row justify-content-end">
                <div class="form-group">
                    <button (click)="ejecutarAccion(tipoOperacion)" type="submit" class="btn btn-primary mr-1"
                        [title]="botonOperacion">
                        {{botonOperacion}}
                    </button>
                    <button (click)="ejecutarAccion('cancelar')" type="button" class="btn btn-dark" title="Cancelar">
                        Cancelar
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <em class="small"><i class="fas fa-info-circle"></i> Los campos obligatorios están marcados con
                        <span class="required-field-indicator"></span></em>
                </div>
            </div>
        </form>
    </div>
</div>
