<div class="row">
    <div class="col-12">
        <form [formGroup]="formReunion" autocomplete="off" class="text-default">
            <div class="form-row">
                <div class="col-md-6 form-group mb-2">
                    <label><span class="required-field-indicator"></span> Nro Reunion:</label>
                    <input type="text" class="form-control" formControlName="nroReunion" />
                </div>
                <div class="col-md-3 form-group mb-2">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="acuerdo" formControlName="acuerdo">
                        <label class="custom-control-label" for="acuerdo"> Acuerdo:</label>
                    </div>
                </div>
                <div class="col-md-3 form-group mb-2">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="sinAcuerdo" formControlName="sinAcuerdo">
                        <label class="custom-control-label" for="sinAcuerdo">Sin Acuerdo:</label>
                    </div>
                </div>
                <div class="col-md-12 form-group mb-2">
                    <label><span class="required-field-indicator"></span> Motivo:</label>
                    <input type="text" class="form-control" formControlName="motivo" />
                </div>
                <div *ngIf="false" class="col-md-3 form-group mb-2">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="reunionRealizada" formControlName="reunionRealizada">
                        <label class="custom-control-label" for="reunionRealizada">Reunion Realizada:</label>
                    </div>
                </div>
                <div class="col-md-6 form-group mb-2">
                    <label><span class="required-field-indicator"></span> Acta Reunion PDF:</label>
                    <input type="file" class="form-control-file" accept=".pdf" (change)="onFileSelected($event)"/>
                </div>
            </div>
            <div class="form-row justify-content-end">
                <div class="form-group">
                    <button (click)="ejecutarAccion(tipoOperacion)" type="submit" class="btn btn-primary mr-1"
                        [title]="botonOperacion">
                        {{botonOperacion}}
                    </button>
                    <button (click)="ejecutarAccion('cancelar')" type="button" class="btn btn-dark" title="Cancelar">
                        Cancelar
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <em class="small"><i class="fas fa-info-circle"></i> Los campos obligatorios están marcados con
                        <span class="required-field-indicator"></span></em>
                </div>
            </div>
        </form>
    </div>
</div>
