<div class="row">
    <div class="col-12">
        <form [formGroup]="formReunion" autocomplete="off" class="text-default">
            <div class="form-row">
                <div class="col-md-6 form-group mb-2">
                    <label><span class="required-field-indicator"></span> Nro Reunion:</label>
                    <select class="form-control" formControlName="nroReunion">
                        <option selected  [ngValue]="''" [disabled]="'disabled'">Escoja una Opcion</option>
                        <option [ngValue]="'1ERA'">1ERA</option>
                        <option [ngValue]="'2DA'">2DA</option>
                        <option [ngValue]="'3ERA'">3ERA</option>
                    </select>
                </div>
                <div class="col-md-6 form-group mb-2">
                    <label><span class="required-field-indicator"></span> Acuerdo:</label>
                    <input type="checkbox" class="form-control" formControlName="acuerdo" />
                </div>
                <div class="col-md-12 form-group mb-2">
                    <label><span class="required-field-indicator"></span> Motivo:</label>
                    <input type="text" class="form-control" formControlName="motivo" />
                </div>
                <div class="col-md-6 form-group mb-2">
                    <label><span class="required-field-indicator"></span> Reunion Realizada:</label>
                    <input type="checkbox" class="form-control" formControlName="reunionRealizada" />
                </div>
                <div class="col-md-6 form-group mb-2">
                    <label><span class="required-field-indicator"></span> Acta Reunion PDF:</label>
                    <input type="text" class="form-control" formControlName="actaReunionPdf" />
                </div>
                <div class="col-md-12 form-group mb-2">
                    <label><span class="required-field-indicator"></span> Encargado:</label>
                    <input type="text" class="form-control" formControlName="encargado" />
                </div>
            </div>
            <div class="form-row justify-content-end">
                <div class="form-group">
                    <button (click)="ejecutarAccion(tipoOperacion)" type="submit" class="btn btn-primary mr-1"
                        [title]="botonOperacion">
                        {{botonOperacion}}
                    </button>
                    <button (click)="ejecutarAccion('cancelar')" type="button" class="btn btn-dark" title="Cancelar">
                        Cancelar
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <em class="small"><i class="fas fa-info-circle"></i> Los campos obligatorios están marcados con
                        <span class="required-field-indicator"></span></em>
                </div>
            </div>
        </form>
    </div>
</div>
