<div class="row">
    <div class="col-12">
        <form [formGroup]="formActoAdministrativo" autocomplete="off" class="text-default">
            <div class="form-row">
                <div class="col-md-12 form-group mb-2">
                    <label><span class="required-field-indicator"></span> Viaje Realizado:</label>
                    <input type="checkbox" class="form-control" formControlName="viajeRealizado" />
                </div>
                <div class="col-md-12 form-group mb-2">
                    <label><span class="required-field-indicator"></span> Encargado:</label>
                    <input type="text" class="form-control" formControlName="encargado" />
                </div>
            </div>
            <div class="form-row justify-content-end">
                <div class="form-group">
                    <button (click)="ejecutarAccion(tipoOperacion)" type="submit" class="btn btn-primary mr-1"
                        [title]="botonOperacion">
                        {{botonOperacion}}
                    </button>
                    <button (click)="ejecutarAccion('cancelar')" type="button" class="btn btn-dark" title="Cancelar">
                        Cancelar
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <em class="small"><i class="fas fa-info-circle"></i> Los campos obligatorios están marcados con
                        <span class="required-field-indicator"></span></em>
                </div>
            </div>
        </form>
    </div>
</div>
