<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <app-correspondencia-reunion-buscador [objeto]="filtro" (accion)="ejecutarAccion($event)">
                </app-correspondencia-reunion-buscador>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped table-hover border mt-4 ">
                        <thead class="thead-dark">
                            <tr>
                                <th>NRO REUNION</th>
                                <th>COMUNIDAD</th>
                                <th>ACUERDO</th>
                                <th>MOTIVO</th>
                                <th>REUNION REALIZADA</th>
                                <th>ACTA REUNION PDF</th>
                                <th class="td-auto">OPERACIONES</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of lista">
                                <td *ngIf="(item.flujo === arr[1])" class="td-auto align-middle">{{ item.nroReunion }}</td>
                                <td *ngIf="(item.flujo === arr[1])" class="td-auto align-middle">{{ item.notificacion.comunidad }}</td>
                                <td *ngIf="(item.flujo === arr[1] )" class="align-middle">
                                    <i *ngIf="item.conAcuerdo" class="fas fa-check-circle fa-lg text-success"></i>
                                    <i *ngIf="!item.conAcuerdo" class="fas fa-times-circle fa-lg text-danger"></i>
                                </td>
                                <td *ngIf="(item.flujo === arr[1])" class="align-middle">{{ item.motivo }}</td>
                                <td *ngIf="(item.flujo === arr[1])" class="align-middle">
                                    <i *ngIf="item.reunionRealizada" class="fas fa-check-circle fa-lg text-success"></i>
                                    <i *ngIf="!item.reunionRealizada" class="fas fa-times-circle fa-lg text-danger"></i>
                                </td>
                                <td *ngIf="(item.flujo === arr[1])" class="align-middle">
                                    <i *ngIf="item.actaReunionPdf !== null" (click)="downloadPDF(item.actaReunionPdf)"
                                        class='fas fa-file-pdf text-danger mr-1 fa-2x cursor-pointer' title="Visualizar Pdf"></i>
                                </td>
                                <td *ngIf="(item.flujo === arr[1])" class="align-middle">
                                    <i *ngIf="item.estado === null" (click)="ejecutarOperacion({operacion: 'modificar', id: item.id})"
                                        class="far fa-edit fa-lg text-info mr-1 cursor-pointer" title="Actulizar Datos"></i>
                                    <!--<i (click)="ejecutarOperacion({operacion: 'detalle', id: item.id})"
                                        class="far fa-file-alt fa-lg text-info mr-1 cursor-pointer" title="Detalle"></i>
                                    <i (click)="ejecutarOperacion({operacion: 'eliminar', id: item.id})"
                                        class="far fa-trash-alt fa-lg text-danger mr-1 cursor-pointer" title="Eliminar"></i>-->
                                    <input *ngIf=" (item.reunionRealizada === true && item.conAcuerdo== false && item.nroReunion !== '3ERA') ? item.flujo === 'Mediacion' ? false : true: false" type="button" value="Adjuntar Notificacion" class="btn btn-primary"
                                        (click)="ejecutarOperacion({operacion: 'notificacion', idTramite: item.notificacion.fk_idTramite, id: item.id,nroReunion : item.nroReunion === '1ERA' ? '2DA': '3ERA'})" [disabled]="(item.nroReunion === '1ERA' || item.nroReunion === '2DA') && item.estado ==='NOTIFICACION' ? true : false">

                                    <!--<input *ngIf=" (item.reunionRealizada === true && item.acuerdo === false && item.nroReunion !== '3ERA') ? item.flujo === 'Mediacion' ? false : true: false" type="button" value="Notificacion Acta" class="btn btn-primary"
                                        (click)="ejecutarOperacion({operacion: 'notificacionActa', idTramite: item.notificacion.fk_idTramite, id: item.id,nroReunion : item.nroReunion === '1ERA' ? '2DA': '3ERA'})" [disabled]="(item.nroReunion === '1ERA' || item.nroReunion === '2DA') && item.estado ==='NOTIFICACION' ? true : false">
                                    -->
                                        <input *ngIf=" (item.reunionRealizada === true && item.conAcuerdo === false && item.nroReunion !== '3ERA') ? item.flujo === 'Mediacion' ? false : true : false" type="button" value="Acto Administrativo" class="btn btn-warning"
                                        (click)="ejecutarOperacion({operacion: 'actoAdministrativo', idTramite: item.notificacion.fk_idTramite, id: item.id})" [disabled]="(item.nroReunion === '1ERA' || item.nroReunion === '2DA') && (item.estado ==='ACTO ADMINISTRATIVO' || item.estado ==='NOTIFICACION')  ? true : false">
                                    <input *ngIf=" (item.reunionRealizada === true && item.conAcuerdo === true) ? item.flujo === 'Mediacion' ? false : true : false" type="button" value="Resolucion Acuerdo" class="btn btn-primary"
                                        (click)="ejecutarOperacion({operacion: 'resolucion', idTramite: item.notificacion.fk_idTramite, id: item.id})">
                                    <input *ngIf=" (item.reunionRealizada === true && item.conAcuerdo === false && item.nroReunion === '3ERA') ? true : false" type="button" value="Informe Mediacion" class="btn btn-primary"
                                        (click)="ejecutarOperacion({operacion: 'informeDeliberacion', idTramite: item.notificacion.fk_idTramite,id: item.id})" [disabled]="item.estado ==='DELIBERACION TERMINADA' ? true : false">
                                    <input *ngIf=" (item.reunionRealizada === true && item.conAcuerdo === false) ? item.flujo === 'Mediacion' ? true : false: false" type="button" value="Remitir A MMyM" class="btn btn-primary"
                                        (click)="ejecutarOperacion({operacion: 'Remitir a MMyM', idTramite: item.notificacion.fk_idTramite, id: item.id})"> 
                                        <input *ngIf=" (item.reunionRealizada === true && item.conAcuerdo === true) ? item.flujo === 'Mediacion' ? true : false: false" type="button" value="Devolver a la DDoDR" class="btn btn-primary"
                                        (click)="ejecutarOperacion({operacion: 'devolverDo', idTramite: item.notificacion.fk_idTramite, id: item.id})"> 
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <app-paginador (paginar)="paginar()"></app-paginador>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="text-right mt-3">
                   <!-- <input type="button" value="Nuevo registro" class="btn btn-primary"
                        (click)="ejecutarOperacion({operacion: 'crear'})">-->
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #modalReunion let-modal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{ modalTitulo }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div [ngSwitch]="tipoOperacion">
            <app-correspondencia-reunion-formulario *ngSwitchCase="'crear'" [tipoOperacion]="tipoOperacion"
                (accion)="ejecutarAccion($event)"></app-correspondencia-reunion-formulario>
            <app-correspondencia-reunion-detalle *ngSwitchCase="'detalle'" [tipoOperacion]="tipoOperacion"
                (accion)="ejecutarAccion($event)"></app-correspondencia-reunion-detalle>
            <app-correspondencia-reunion-formulario *ngSwitchCase="'modificar'" [tipoOperacion]="tipoOperacion"
                (accion)="ejecutarAccion($event)"></app-correspondencia-reunion-formulario>
            <app-correspondencia-reunion-detalle *ngSwitchCase="'eliminar'" [tipoOperacion]="tipoOperacion"
                (accion)="ejecutarAccion($event)"></app-correspondencia-reunion-detalle>
            <app-correspondencia-notificacion-formulario *ngSwitchCase="'notificacion'" [tipoOperacion]="tipoOperacion"
                (accion)="ejecutarAccion($event)"></app-correspondencia-notificacion-formulario>
            <app-correspondencia-acto-administrativo-formulario *ngSwitchCase="'actoAdministrativo'" [tipoOperacion]="tipoOperacion"
                (accion)="ejecutarAccion($event)"></app-correspondencia-acto-administrativo-formulario>
            <app-correspondencia-informe-formulario *ngSwitchCase="'informeDeliberacion'" [tipoOperacion]="tipoOperacion"
                (accion)="ejecutarAccion($event)"></app-correspondencia-informe-formulario>
        </div>
    </div>
    <div class="modal-footer">
        AJAM
    </div>
</ng-template>
