<div class="row">
    <div class="col-12">
        <form [formGroup]="formSujeto" autocomplete="off" class="text-default">
            <div class="form-row">
                <div class="col-md-12 form-group mb-2">
                    <label><span class="required-field-indicator"></span> Comunidad:</label>
                    <input type="text" class="form-control" formControlName="comunidad" />
                </div>
                <div class="col-md-12 form-group mb-2">
                    <label><span class="required-field-indicator"></span> Representante:</label>
                    <input type="text" class="form-control" formControlName="representante" />
                </div>
            </div>
        </form>
    </div>
</div>
