<div class="row">
    <div class="col-12">
        <form [formGroup]="formClasificacion" autocomplete="off" class="text-default">
            <div class="form-row">
                <div class="col-md-12 form-group mb-2">
                    <label><span class="required-field-indicator"></span> Nombre:</label>
                    <input type="text" class="form-control" formControlName="nombre" />
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 form-group mb-2">
                    <label>Descripción:</label>
                    <textarea class="form-control" formControlName="descripcion"></textarea>
                </div>
            </div>
            <!-- <div class="form-row">
                <div class="col-md-4 form-group mb-2">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="estaActivo" formControlName="estaActivo">
                        <label class="custom-control-label" for="estaActivo">esta activo</label>
                    </div>
                </div>
            </div> -->
            <div class="form-row justify-content-end">
                <div class="form-group">
                    <button (click)="ejecutarAccion(tipoOperacion)" type="submit" class="btn btn-primary mr-1"
                        [title]="botonOperacion">
                        {{botonOperacion}}
                    </button>
                    <button (click)="ejecutarAccion('cancelar')" type="button" class="btn btn-dark" title="Cancelar">
                        Cancelar
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <em class="small"><i class="fas fa-info-circle"></i> Los campos obligatorios están marcados con
                        <span class="required-field-indicator"></span></em>
                </div>
            </div>
        </form>
    </div>
</div>
