<div class="row">
    <div class="col-12">
        <form [formGroup]="formTramite" autocomplete="off" class="text-default">
            <div class="form-row">
                <div class="col-md-3 form-group mb-2">
                    <label><span class="required-field-indicator"></span> Correlativo:</label>
                    <input type="text" class="form-control" formControlName="correlativo" />YERY
                </div>
                
                <div class="col-md-3 form-group mb-2">
                    <label><span class="required-field-indicator"></span> Codigo Unico:</label>
                    <input type="number" class="form-control" formControlName="codigoUnico" />
                </div>
                <div class="col-md-3 form-group mb-2">
                    <label><span class="required-field-indicator"></span> Area Minera:</label>
                    <input type="text" class="form-control" formControlName="areaMinera" />
                </div>
                <div class="col-md-3 form-group mb-2">
                    <label><span class="required-field-indicator"></span> Clasificacion:</label>
                    <select class="form-control" formControlName="clasificacion">
                        <option selected  [ngValue]="''" [disabled]="'disabled'">Escoja una Opcion</option>
                        <option [ngValue]="'Cooperativa'">Cooperativa</option>
                        <option [ngValue]="'Empresa'">Empresa</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 form-group mb-2">
                    <label><span class="required-field-indicator"></span> Departamento:</label>
                    <select class="form-control" formControlName="departamento">
                        <option selected  [ngValue]="''" [disabled]="'disabled'">Escoja una Opcion</option>
                        <option [ngValue]="dep" *ngFor="let dep of departamentosArray">
                            {{ dep }}
                        </option>
                    </select>
                    <!--{{formTramite.get('departamento').value}}-->
                </div>
                <div class="col-md-4 form-group mb-2">
                    <label><span class="required-field-indicator"></span> Provincia:</label>
                    <!--<input type="text" class="form-control" formControlName="provincia" />-->
                    <div [ngSwitch]="formTramite.get('departamento').value">
                        <select *ngSwitchCase="''" class="form-control" formControlName="provincia">
                            <option selected  [ngValue]="''" [disabled]="'disabled'">Escoja una Opcion</option>                            
                        </select>
                        <select *ngSwitchCase="'La Paz'" class="form-control" formControlName="provincia">
                            <option selected  [ngValue]="''" [disabled]="'disabled'">Escoja una Opcion</option>
                            <option  [ngValue]="pro" *ngFor="let pro of provinciaLp">
                                {{ pro }}
                            </option>
                        </select>
                        <select *ngSwitchCase="'Oruro'" class="form-control" formControlName="provincia">
                            <option selected  [ngValue]="''" [disabled]="'disabled'">Escoja una Opcion</option>
                            <option  [ngValue]="pro" *ngFor="let pro of provinciaOr">
                                {{ pro }}
                            </option>
                        </select>
                        <select *ngSwitchCase="'Potosi'" class="form-control" formControlName="provincia">
                            <option selected  [ngValue]="''" [disabled]="'disabled'">Escoja una Opcion</option>
                            <option  [ngValue]="pro" *ngFor="let pro of provinciaPt">
                                {{ pro }}
                            </option>
                        </select>
                        <select *ngSwitchCase="'Chuquisaca'" class="form-control" formControlName="provincia">
                            <option selected  [ngValue]="''" [disabled]="'disabled'">Escoja una Opcion</option>
                            <option  [ngValue]="pro" *ngFor="let pro of provinciaCh">
                                {{ pro }}
                            </option>
                        </select>
                        <select *ngSwitchCase="'Cochabamba'" class="form-control" formControlName="provincia">
                            <option selected  [ngValue]="''" [disabled]="'disabled'">Escoja una Opcion</option>
                            <option  [ngValue]="pro" *ngFor="let pro of provinciaCh">
                                {{ pro }}
                            </option>
                        </select>
                        <select *ngSwitchCase="'Tarija'" class="form-control" formControlName="provincia">
                            <option selected  [ngValue]="''" [disabled]="'disabled'">Escoja una Opcion</option>
                            <option  [ngValue]="pro" *ngFor="let pro of provinciaTj">
                                {{ pro }}
                            </option>
                        </select>
                        <select *ngSwitchCase="'Santa Cruz'" class="form-control" formControlName="provincia">
                            <option selected  [ngValue]="''" [disabled]="'disabled'">Escoja una Opcion</option>
                            <option  [ngValue]="pro" *ngFor="let pro of provinciaSc">
                                {{ pro }}
                            </option>
                        </select>
                        <select *ngSwitchCase="'Beni'" class="form-control" formControlName="provincia">
                            <option selected  [ngValue]="''" [disabled]="'disabled'">Escoja una Opcion</option>
                            <option  [ngValue]="pro" *ngFor="let pro of provinciaBn">
                                {{ pro }}
                            </option>
                        </select>
                        <select *ngSwitchCase="'Pando'" class="form-control" formControlName="provincia">
                            <option selected  [ngValue]="''" [disabled]="'disabled'">Escoja una Opcion</option>
                            <option  [ngValue]="pro" *ngFor="let pro of provinciaPd">
                                {{ pro }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4 form-group mb-2">
                    <label><span class="required-field-indicator"></span> Municipio:</label>
                    <input type="text" class="form-control" formControlName="municipio" />
                </div>
            </div>
            <div class="form-row justify-content-end">
                <div class="form-group">
                    <button (click)="ejecutarAccion(tipoOperacion)" type="submit" class="btn btn-primary mr-1"
                        [title]="botonOperacion">
                        {{botonOperacion}}
                    </button>
                    <button (click)="ejecutarAccion('cancelar')" type="button" class="btn btn-dark" title="Cancelar">
                        Cancelar
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <em class="small"><i class="fas fa-info-circle"></i> Los campos obligatorios están marcados con
                        <span class="required-field-indicator"></span></em>
                </div>
            </div>
        </form>
    </div>
</div>
