<div class="row">
    <div class="col-12">
        <form [formGroup]="formTramite" autocomplete="off" class="text-default">
            <div class="form-row">
                <div class="col-md-4 form-group mb-2">
                    <label><span class="required-field-indicator"></span> Correlativo:</label>
                   
                    <!--<input type="text" class="form-control" formControlName="correlativo" />-->
                        <ng-autocomplete 
                            [data]="listaHojaRuta"
                            [searchKeyword]="keyword"
                            placeholder="Correlativo"
                            [itemTemplate]="itemTemplate"
                            [notFoundTemplate]="notFoundTemplate"
                            formControlName="correlativo"
                            (selected)='selectEvent($event)'
                            >              
                        </ng-autocomplete>
                
                        <ng-template #itemTemplate let-item>
                            <a [innerHTML]="item.nombre"></a>
                        </ng-template>
                        
                        <ng-template #notFoundTemplate let-notFound>
                            <div [innerHTML]="notFound"></div>
                        </ng-template>
                </div>
                
                <div class="col-md-2 form-group mb-2">
                    <label><span class="required-field-indicator"></span> Codigo Unico:</label>
                    <input type="number" class="form-control" formControlName="codigoUnico" />
                </div>
                <div class="col-md-3 form-group mb-2">
                    <label><span class="required-field-indicator"></span> Area Minera:</label>
                    <div class="d-flex align-items-center">
                      <div class="input-group">
                        <input type="text" class="form-control" formControlName="areaMinera" />
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary" type="button" (click)="buscarAreaMinera()">
                            <i class="fas fa-search"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                <div class="col-md-3 form-group mb-2">
                    <label><span class="required-field-indicator"></span> Nro de Cuadriculas:</label>
                    <input type="number" class="form-control" formControlName="nroCuadricula" />
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-3 form-group mb-2">
                    <label><span class="required-field-indicator"></span> Clasificacion:</label>
                    <select class="form-control" formControlName="clasificacion">
                        <option selected  [ngValue]="''" [disabled]="'disabled'">Escoja una Opcion</option>
                        <option [ngValue]="'COOPERATIVA'">COOPERATIVA</option>
                        <option [ngValue]="'EMPRESA'">EMPRESA</option>
                    </select>
                </div>
                <div class="col-md-3 form-group mb-2">
                    <label><span class="required-field-indicator"></span> Departamento:</label>
                    <input type="text" class="form-control" formControlName="departamento" />
                    <!--{{formTramite.get('departamento').value}}-->
                </div>
                <div class="col-md-3 form-group mb-2">
                    <label><span class="required-field-indicator"></span> Provincia:</label>
                    <input type="text" class="form-control" formControlName="provincia" />
                </div>
                <div class="col-md-3 form-group mb-2">
                    <label><span class="required-field-indicator"></span> Municipio:</label>
                    <input type="text" class="form-control" formControlName="municipio" />
                </div>
            </div>
            <div class="form-row justify-content-end">
                <div class="form-group">
                    <button (click)="ejecutarAccion(tipoOperacion)" type="submit" class="btn btn-primary mr-1"
                        [title]="botonOperacion">
                        {{botonOperacion}}
                    </button>
                    <button (click)="ejecutarAccion('cancelar')" type="button" class="btn btn-dark" title="Cancelar">
                        Cancelar
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <em class="small"><i class="fas fa-info-circle"></i> Los campos obligatorios están marcados con
                        <span class="required-field-indicator"></span></em>
                </div>
            </div>
        </form>
    </div>
</div>
