<div class="row">
    <div class="col-12">
        <form [formGroup]="formPagoCpt" autocomplete="off" class="text-default">
            <div class="form-row">
                <div class="col-md-4 form-group mb-2">
                    <label><span class="required-field-indicator"></span> Dias de Viaje:</label>
                    <input type="number" class="form-control" formControlName="diasViaje" />
                </div>
                <div class="col-md-4 form-group mb-2">
                    <label><span class="required-field-indicator"></span> Tipo Viaje:</label>
                    <select class="form-control" formControlName="tipoViaje">
                        <option selected  [ngValue]="''" [disabled]="'disabled'">Escoja una Opcion</option>
                        <option [ngValue]="'Interdepartamental'">Interdepartamental</option>
                        <option [ngValue]="'Intradepartamental'">Intradepartamental</option>
                        <option [ngValue]="'Franja de Frontera'">Franja Frontera</option>
                    </select>
                </div>
                <div class="col-md-4 form-group mb-2">
                    <label><span class="required-field-indicator"></span> Monto Total:</label>
                    <input type="number" class="form-control"  
                    [value]="calculateMontoTotal()" formControlName="montoTotal" [readonly]="true" />
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 form-group mb-2">
                    <label><span class="required-field-indicator"></span> Encargado:</label>
                    <input type="text" class="form-control" formControlName="encargado" />
                </div>
                <div class="col-md-6 form-group mb-2">
                    <label><span class="required-field-indicator"></span> Actor Productivo Minero:</label>
                    <input type="text" class="form-control" formControlName="apm" />
                </div>
                <div class="col-md-6 form-group mb-2">
                    <label><span class="required-field-indicator"></span> Descripcion:</label>
                    <textarea class="form-control" formControlName="descripcion"></textarea>
                </div>
                <div class="col-md-3 form-group mb-2">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="pagoRealizado" formControlName="pagoRealizado">
                        <label class="custom-control-label" for="pagoRealizado">Pago Realizado</label>
                    </div>
                </div>
              
            </div>
            <div class="form-row justify-content-end">
                <div class="form-group">
                    <button (click)="ejecutarAccion(tipoOperacion)" type="submit" class="btn btn-primary mr-1"
                        [title]="botonOperacion">
                        {{botonOperacion}}
                    </button>
                    <button (click)="ejecutarAccion('cancelar')" type="button" class="btn btn-dark" title="Cancelar">
                        Cancelar
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <em class="small"><i class="fas fa-info-circle"></i> Los campos obligatorios están marcados con
                        <span class="required-field-indicator"></span></em>
                </div>
            </div>
        </form>
    </div>
</div>
