<div class="row">
    <div class="col-12">
        <form [formGroup]="formNotificacion" autocomplete="off" class="text-default">
            <div class="form-row">
                <div class="col-md-6 form-group mb-2">
                    <label><span class="required-field-indicator"></span> Notificado:</label>
                    <input type="text" class="form-control" formControlName="notificado" />
                </div>
                <div class="col-md-6 form-group mb-2">
                    <label><span class="required-field-indicator"></span> Notificacion Pdf:</label>
                    <input type="text" class="form-control" formControlName="notificacionPdf" />
                </div>
                <div class="col-md-6 form-group mb-2">
                    <label><span class="required-field-indicator"></span> Direccion Departamental:</label>
                    <select class="form-control" formControlName="direccionDpto">
                        <option selected  [ngValue]="''" [disabled]="'disabled'">Escoja una Opcion</option>
                        <option [ngValue]="'LA PAZ - BENI - PANDO'">LA PAZ - BENI - PANDO</option>
                        <option [ngValue]="'SANTA CRUZ'">SANTA CRUZ</option>
                        <option [ngValue]="'COCHABAMBA'">COCHABAMBA</option>
                        <option [ngValue]="'ORURO'">ORURO</option>
                        <option [ngValue]="'POTOSI'">POTOSI</option>
                        <option [ngValue]="'CHUQUISACA'">CHUQUISACA</option>
                        <option [ngValue]="'TUPIZA - TARIJA'">TUPIZA - TARIJA</option>
                    </select>
                </div>
            </div>
            <div class="form-row justify-content-end">
                <div class="form-group">
                    <button (click)="ejecutarAccion(tipoOperacion)" type="submit" class="btn btn-primary mr-1"
                        [title]="botonOperacion">
                        {{botonOperacion}}
                    </button>
                    <button (click)="ejecutarAccion('cancelar')" type="button" class="btn btn-dark" title="Cancelar">
                        Cancelar
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <em class="small"><i class="fas fa-info-circle"></i> Los campos obligatorios están marcados con
                        <span class="required-field-indicator"></span></em>
                </div>
            </div>
        </form>
    </div>
</div>
