<div class="row">
    <div class="col-12">
        <form [formGroup]="formNotificacion" autocomplete="off" class="text-default">
            <div class="form-row">
                <div class="col-md-6 form-group mb-2">
                    <label><span class="required-field-indicator"></span> Notificado:</label>
                    <input type="text" class="form-control" formControlName="notificado" />
                </div>
                <div class="col-md-6 form-group mb-2">
                    <label><span class="required-field-indicator"></span> Notificacion Pdf:</label>
                    <input type="file" class="form-control-file" accept=".pdf" (change)="onFileSelected($event)"/>
                </div>
                <div class="col-md-6 form-group mb-2">
                    <label><span class="required-field-indicator"></span> Direccion Departamental:</label>
                    <select class="form-control" formControlName="direccionDpto">
                        <option selected  [ngValue]="''" [disabled]="'disabled'">Escoja una Opcion</option>
                        <option [ngValue]="'LA PAZ - BENI - PANDO'">LA PAZ - BENI - PANDO</option>
                        <option [ngValue]="'SANTA CRUZ'">SANTA CRUZ</option>
                        <option [ngValue]="'COCHABAMBA'">COCHABAMBA</option>
                        <option [ngValue]="'ORURO'">ORURO</option>
                        <option [ngValue]="'POTOSI'">POTOSI</option>
                        <option [ngValue]="'CHUQUISACA'">CHUQUISACA</option>
                        <option [ngValue]="'TUPIZA - TARIJA'">TUPIZA - TARIJA</option>
                    </select>
                </div>
                <div *ngIf="formNotificacion.get('representanteComunidad').value" class="col-md-6 form-group mb-2">
                    <label><span class="required-field-indicator"></span> Comunidad:</label>
                      <select class="form-control" formControlName="comunidad">
                        <option selected  [ngValue]="''" [disabled]="'disabled'">Escoja una Opcion</option>
                       <option *ngFor="let item of sujetos" [ngValue]="item.comunidad">{{item.comunidad}}</option>
                    
                    </select>
                   
                </div>
            </div>
            <div class="form-row">
                <div *ngIf="arr[1] === 'Identificacion' ? false : true" class="col-md-3 form-group mb-2">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="representanteMinero" formControlName="representanteMinero" (change)="onCheckboxChange('representanteMinero')">
                        <label class="custom-control-label" for="representanteMinero">Representante Minero</label>
                    </div>
                </div>
                <div *ngIf="arr[1] === 'Identificacion' ? false : true"class="col-md-4 form-group mb-2">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="representanteComunidad" formControlName="representanteComunidad" (change)="onCheckboxChange('representanteComunidad')">
                        <label class="custom-control-label" for="representanteComunidad">Representante Comunidad</label>
                    </div>
                </div>
                <div *ngIf="arr[1] === 'Identificacion' || arr[1] === 'Mediacion'? false : true"class="col-md-3 form-group mb-2">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="sifde" formControlName="sifde" (change)="onCheckboxChange('sifde')">
                        <label class="custom-control-label" for="sifde">SIFDE</label>
                    </div>
                </div>
            </div>
            <div class="form-row justify-content-end">
                <div class="form-group">
                    <button (click)="ejecutarAccion(tipoOperacion)" type="submit" class="btn btn-primary mr-1"
                        [title]="botonOperacion">
                        {{botonOperacion}}
                    </button>
                    <button (click)="ejecutarAccion('cancelar')" type="button" class="btn btn-dark" title="Cancelar">
                        Cancelar
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <em class="small"><i class="fas fa-info-circle"></i> Los campos obligatorios están marcados con
                        <span class="required-field-indicator"></span></em>
                </div>
            </div>
        </form>
    </div>
</div>
