<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped table-hover border mt-4 ">
                        <thead class="thead-dark">
                            <tr>
                                <th *ngIf="arr[1] === 'Identificacion'" >TRAMITE</th>
                                <th *ngIf="arr[1] === 'Deliberacion' || arr[1] === 'Mediacion'" >RESOLUCION</th>
                                <th>MONTO TOTAL </th>
                                <th>APM</th>
                                <th>VIAJE REALIZADO</th>
                                <th>PAGO REALIZADO</th>
                                <th>FORMULARIO LIQUIDACION PDF</th>
                                <th class="td-auto">OPERACIONES</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of lista">
                                <td *ngIf="item.resolucion === null && item.flujo === arr[1]" class="align-middle">{{ item.tramite.correlativo }}</td>
                                <td *ngIf="(item.tramite === null  && arr[1] === item.flujo)  " class="align-middle">{{ item.resolucion.resolucion }}</td>
                                <td *ngIf="(item.flujo === arr[1])" class="align-middle">{{ item.pagoCpt !== null ? item.pagoCpt.montoTotal : "No Genero Cpt" }}</td>
                                <td *ngIf="(item.flujo === arr[1])" class="align-middle">{{ item.pagoCpt !== null ? item.pagoCpt.apm : "No Genero Cpt" }}</td>
                                <td *ngIf="(item.flujo === arr[1])" class="td-auto align-middle">
                                    <i *ngIf="item.viajeRealizado"  class="fas fa-check-circle fa-lg text-success"></i>
                                    <i *ngIf="!item.viajeRealizado" class="fas fa-times-circle fa-lg text-danger"></i>
                                </td>
                                <td *ngIf="(item.flujo === arr[1])" class="align-middle">
                                    <i *ngIf="item.pagoCpt !== null ? item.pagoCpt.pagoRealizado : false"  class="fas fa-check-circle fa-lg text-success"></i>
                                    <i *ngIf="item.pagoCpt !== null ? !item.pagoCpt.pagoRealizado : false" class="fas fa-times-circle fa-lg text-danger"></i>
                                </td>

                                <td *ngIf="(item.flujo === arr[1])" class="align-middle">{{ item.pagoCpt !== null ? "" : "No Genero Cpt" }}
                                   <!-- <i *ngIf="item.viaje !== null ? true :false" (click)="downloadPDF(item.viaje.formularioPdf)"
                                        class='fas fa-file-pdf text-danger mr-1 fa-2x cursor-pointer' title="Visualizar Pdf"></i>-->
                                    <input *ngIf="item.pagoCpt === null ? false : item.pagoCpt.pagoRealizado === true ? true : false"   type="button" value="Imprimir Reporte" class="btn btn-warning mr-2"
                                        (click)="imprimirPdfTramite(item.pagoCpt.id)">
                                </td>
                               
                                <td *ngIf="(item.flujo === arr[1])" class="align-middle">
                                    <!--<i (click)="ejecutarOperacion({operacion: 'detalle', id: item.id})"
                                        class="far fa-file-alt fa-lg text-info mr-1 cursor-pointer" title="Detalle"></i>-->
                                <!--<i *ngIf=" item.viaje === null ? false : item.viajeRealizado === true ? false : true" (click)="ejecutarOperacion({operacion: 'modificar', id: item.id})"
                                        class="far fa-edit fa-lg text-info mr-1 cursor-pointer" title="Actulizar Datos"></i>-->
                                <!--<i *ngIf=" item.pagoCpt !== null ? item.pagoCpt.pagoRealizado === true ? item.viajeRealizado === true ? false : true : false : false" (click)="ejecutarOperacion({operacion: 'modificar', id: item.id})"
                                        class="far fa-edit fa-lg text-info mr-1 cursor-pointer" title="Actulizar Datos"></i>-->
                                <input *ngIf=" item.pagoCpt !== null ? item.pagoCpt.pagoRealizado === true ? item.viajeRealizado === true ? false : true : false : false" type="button" value="Confirmar Viaje" class="btn btn-warning"
                                        (click)="ejecutarOperacion({operacion: 'modificar', id: item.id})" [disabled]="item.estado === 'REPROGRAMA VIAJE' ? true : false">
                                <input *ngIf=" item.pagoCpt !== null ? item.pagoCpt.pagoRealizado === true ? item.viajeRealizado === true ? false : true : false : false" type="button" value="Reprogramar Viaje" class="btn btn-danger"
                                        (click)="ejecutarOperacion({operacion: 'reprogramarViaje', id: item.id, fk_idTramite: item.fk_idTramite })" [disabled]="item.estado === 'REPROGRAMA VIAJE' ? true : false">    
                                <input *ngIf=" item.pagoCpt === null ? true : false"  type="button" value="Pago Cpt" class="btn btn-primary"
                                        (click)="ejecutarOperacion({operacion: 'pagoCpt',id: item.id })">
                                <input *ngIf=" item.viajeRealizado === true ? (item.flujo === 'Deliberacion'? false : true ) :false"  type="button" value="Adjuntar Informe" class="btn btn-primary"
                                        (click)="ejecutarOperacion({operacion: 'informe',fk_idTramite: item.fk_idTramite,id: item.id})" [disabled]="item.estado === 'INFORME' ? true : false">
                                        
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <app-paginador (paginar)="paginar()"></app-paginador>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="text-right mt-3">
                        <!-- <input type="button" value="Nuevo registro" class="btn btn-primary"
                        (click)="ejecutarOperacion({operacion: 'crear'})">-->
                        <!--<input type="button" value="Imprimir Reporte" class="btn btn-warning mr-2"
                        (click)="imprimirPdfTramite(53)">-->
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #modalActoAdministrativo let-modal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{ modalTitulo }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div [ngSwitch]="tipoOperacion">
            <app-correspondencia-acto-administrativo-formulario *ngSwitchCase="'crear'" [tipoOperacion]="tipoOperacion"
                (accion)="ejecutarAccion($event)"></app-correspondencia-acto-administrativo-formulario>
            <app-correspondencia-acto-administrativo-formulario *ngSwitchCase="'modificar'" [tipoOperacion]="tipoOperacion"
                (accion)="ejecutarAccion($event)"></app-correspondencia-acto-administrativo-formulario>
            <app-correspondencia-pago-cpt-formulario *ngSwitchCase="'pagoCpt'" [tipoOperacion]="tipoOperacion"
                (accion)="ejecutarAccion($event)"></app-correspondencia-pago-cpt-formulario>
            <app-correspondencia-viaje-formulario *ngSwitchCase="'viaje'" [tipoOperacion]="tipoOperacion"
                (accion)="ejecutarAccion($event)"></app-correspondencia-viaje-formulario>
            <app-correspondencia-informe-formulario *ngSwitchCase="'informe'" [tipoOperacion]="tipoOperacion"
                (accion)="ejecutarAccion($event)"></app-correspondencia-informe-formulario>
        </div>
    </div>
    <div class="modal-footer">
        AJAM
    </div>
</ng-template>
